body {
  font-family: 'Arial', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

h1 {
  text-align: center
}

h2 {
  text-align: center
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#viewContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.viewArea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#console {
  margin: 0px 25px;
  min-width: 300px;
  padding: 15px;
  border: darkgray 2px solid;
  border-radius: 6px;
  min-height: 300px;
}

#gameContent {
  margin: 0px 25px;
}

td.cell {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;

  text-align: center;
  font-size: 50px;
}

#channelForm {
  display: flex;
  justify-content: center;
  align-items: center
}

input[type="text"] {
  height: 36px;
  border: darkgray 2px solid;
  border-radius: 6px;
  width: 200px;
}

button {
  color: white;
  background-color: limegreen;
  font-weight: bold;
  font-size: 14pt;
  padding: 10px;
  border-radius: 6px;
}
