body {
  font-family: 'Andale Mono', 'Arial', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #607D8B;
  color: white;
}

h1 {
  text-align: center
}

h2 {
  text-align: center
}

h4 {
  text-align: center;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#app {
  width: 100vw;
  height: 100vh;
}

#viewContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.viewArea {
  margin: 0px 25px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#console {
  min-width: 200px;
  padding: 15px;
  border: #BDBDBD 2px solid;
  border-radius: 6px;
  min-height: 100px;
  box-shadow: 3px 4px #455a64;
  margin: 5px 0;
}

#board {
  margin: auto
}

td.cell {
  width: 100px;
  height: 100px;
  background-color: #CFD8DC;
  color: #455A64;
  box-shadow: 3px 4px #455a64;

  text-align: center;
  font-size: 50px;
}

#channelForm {
  min-height: 36px;
  display: flex;
  align-items: stretch;
  margin: 2px;
}

input[type="text"] {
  box-shadow: 3px 4px #455a64;
  border: #BDBDBD 2px solid;
  color: #212121;
  background-color: #dbe3e6;
  border-radius: 6px 0px 0px 6px;
  min-width: 100px;
}

input[type="submit"] {
  box-shadow: 3px 4px #455a64;
  color: white;
  background-color: #BDBDBD;
  border-color: #BDBDBD;
  font-weight: bold;
  font-size: 14pt;
  padding: 10px;
  border-radius: 0px 6px 6px 0px;
}

@keyframes loadingdots {
  0% { color: #607D8B;}
  50% { color: #CFD8DC;};
  100% { color: #607D8B;}
}

.loading {
  display: flex;
  justify-content: center;
}

.loading span {
  color: #CFD8DC;
  font-size: 60pt;
  animation-name: loadingdots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading #secondDot {
  animation-delay: 0.5s;
}

.loading #thirdDot {
  animation-delay: 1.0s;
}
